<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="imgs/brand.jpg" alt="brand image" height="30"/>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav" id="navbar-items-left">
      </ul>

      <ul class="nav navbar-nav navbar-right" id="navbar-items-right">
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div id="page">
  </div>

</div> 

<footer class="footer">
  <div class="container">
    <div id="footer-content">
      <p class="text-muted text-center"></p>
    </div>
  </div>
</footer>

